{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="profile-container">
        <h2>Привет, {{ user.username }}!</h2>

        {% if not is_author %}
            <form action="{% url 'accounts:become_author' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-primary">
                    Стать автором
                </button>
            </form>
        {% else %}
            <p class="success-text">Вы уже являетесь автором.</p>
        {% endif %}

        <a class="btn-secondary" href="{% url 'account_logout' %}">Выйти</a>
    </div>
  {% endif %}
{% endblock %}
