{% extends 'default.html' %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>

    {% if user.is_authenticated %}
        {% if user in category.subscribers.all %}
            <!-- Если пользователь уже подписан -->
            <form action="{% url 'unsubscribe_category' category.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Отписаться</button>
            </form>
        {% else %}
            <!-- Если пользователь не подписан -->
            <form action="{% url 'subscribe_category' category.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Подписаться</button>
            </form>
        {% endif %}
    {% else %}
        <p>Чтобы подписаться на категорию, нужно <a href="{% url 'account_login' %}">войти</a>.</p>
    {% endif %}
{% endblock %}
