{% extends 'default.html' %}
{% load custom_filters %}

{% block content %}
    <header>
        <nav>
            <a href="/home/">Новости</a>
        </nav>
    </header>
<div style="text-align: center; padding: 2rem;">
    <hr class="black-line">
    <h2>Список всех публикаций</h2>
    <hr class="black-line">
    <img src="https://leader-id.storage.yandexcloud.net/event_photo/463918/653710034752e058239553.png" alt="Фото на главной" style="max-width: 100%; height: auto; border-radius: 8px; margin-bottom: 20px;">
    <hr class="black-line">
    <ul style="list-style-type: none; padding: 0; text-align: left; display: inline-block;">
        {% for post in page_obj %}
            <li style="margin-bottom: 15px;">
                <a href="{% url 'news_detail' post.pk %}" style="text-decoration: none; color: #007bff; font-weight: bold;">{{ post.title|censor }}</a>
                <p style="margin: 5px 0; color: #555;">{{ post.created_at|date:"d.m.Y" }} - {{ post.text|censor|slice:":20" }}...</p>
            </li>
        {% endfor %}
    </ul>
        <div style="margin-top: 20px;">
        <span>Страницы:</span>
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}
            {% if page_num >= page_obj.number|add:"-2" and page_num <= page_obj.number|add:"2" %}
                {% if page_num == page_obj.number %}
                    <strong>{{ page_num }}</strong>
                {% else %}
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </div>
</div>
{% endblock %}
